body {
    background: url("bg-proyek.jpg");
    background-size: cover;
}

h1 {
    font-size: 40px;
    margin-left: 10px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    font-size: 30px;
}

.tambah-data {
    margin-left: 20px;
    margin-bottom: 10px;
}
 
.btn {
    background-color: rgb(3, 140, 33);
    display: inline-block;
    padding: 15px;
    margin: 15px 0px 15px 0px;
    border: rgb(3, 140, 33);
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
}

#btnEdit {
    background-color: lightskyblue;
    margin-right: 5px;
}

#btnHapus {
    background-color: red;
}

.tabel {
    margin: 20px;
}

table, th, td {
    background-color: #e3d8d8;
    border: black solid 2px;
    border-collapse: collapse;
    text-align: center
}

th, td {
    padding: 7px 7px;
}

thead {
    background-color: rgb(176, 39, 24);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color:whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
.inputModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.inputModal td, table{
    border: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
